*.xml
movie-monday/title.basics.tsv
movie-monday/title.basics.tsv.gz
movie-monday/.RData
maine-roads/medotpubrds_05232019/medotpubrds.shx
maine-roads/medotpubrds_05232019/medotpubrds.shp.xml
maine-roads/medotpubrds_05232019/medotpubrds.shp
maine-roads/medotpubrds_05232019/medotpubrds.sbx
maine-roads/medotpubrds_05232019/medotpubrds.sbn
maine-roads/medotpubrds_05232019/medotpubrds.prj
maine-roads/medotpubrds_05232019/medotpubrds.dbf
maine-roads/medotpubrds_05232019/medotpubrds.cpg
fec-data-2020/config.py
fec-data-2020/2020 Federal Campaign Finance-47429ada9996.json
fec-data-2020/me-congress-2020-creds.json
fec-data-2020/mitch-mccollins/config.py
fec-data-2020/mitch-mccollins/__pycache__/config.cpython-36.pyc
fec-data-2020/mitch-mccollins/me-congress-2020-creds.json
opioid-files/arcos-me-statewide-itemized.tsv
opioid-files/arcos-me-statewide-cleaned-towns.csv
opioid-files/processed files/arcos-me-statewide-cleaned-towns.csv
opioid-files/raw data/arcos-me-statewide-itemized.tsv
opioid-files/processed_files/arcos-me-statewide-cleaned-towns.csv
opioid-files/raw_data/arcos-me-statewide-itemized.tsv
bls-journalism-stats/config.py
maine-roads/medotpubrds/medotpubrds.cpg
maine-roads/medotpubrds/medotpubrds.dbf
maine-roads/medotpubrds/medotpubrds.prj
maine-roads/medotpubrds/medotpubrds.sbn
maine-roads/medotpubrds/medotpubrds.sbx
maine-roads/medotpubrds/medotpubrds.shp
maine-roads/medotpubrds/medotpubrds.shp.xml
maine-roads/medotpubrds/medotpubrds.shx
opioid-files/opioid-data-workbook.twbx
opioid-files/opioid-data-workbook.twbx
opioid-files/opioid-data-workbook.twbx
gsheet-credentials.json
quickstart.py
datadotworld.json
gsheet-credential.json
python-mule.pem
fec-data-2020/congressional/mitch-mccollins/config.py
fec-data-2020/congressional/config.py
fec-data-2020/me-senate/config.py
mainely-business/config.py
fec-data-2020/me-congress/me-federal-campaign-finance-73f16a244a13.json
fec-data-2020/me-congress/config.py
fec-data-2020/me-congress/gcreds.json
covid-19-me/covid-gcreds.json
.DS_Store
covid-19-me/.idea/covid-19-me.iml
covid-19-me/.idea/inspectionProfiles/profiles_settings.xml
covid-19-me/.idea/libraries/R_User_Library.xml
covid-19-me/.idea/misc.xml
covid-19-me/.idea/modules.xml
covid-19-me/.idea/vcs.xml
covid-19-me/.idea/workspace.xml
covid-19-me/config.py
maine-campaign-finance/config.py
me-ethics-scraper/config.py
maine-campaign-finance/gcreds.json
me-ethics-scraper/gcreds.json
fec-data-2020/me-congress/fec-dev/config.py
ppp/raw-data/PPP Data 150k plus.csv
campaign-2020/fec-data-pipeline/gcreds.json
fec-data-2020/.idea/workspace.xml
fec-data-2020/.idea/workspace.xml
maine-campaign-finance/.idea/workspace.xml
*.xml
campaign-2020/fec-data-pipeline/itemized_contributions.csv
*.iml
*.pyc
*.sh
*.iml
tableau-updater/selenium
tableau-updater/webdriver_manager
tableau-updater/chromedriver
campaign-2020/fec-data-pipeline/.idea/fec-data-pipeline.iml
.DS_Store
*.twbr
/biomass-bailout/.DS_Store
/bls-journalism-stats/.DS_Store
/fec-data-2020/.DS_Store
/fec-data-2020/presidential/.DS_Store
/retail-power-compare/.DS_Store
/retail-power-compare/raw/.DS_Store
/spatial-files/.DS_Store
