
movie-monday/title.basics.tsv
movie-monday/title.basics.tsv.gz
movie-monday/.RData
maine-roads/medotpubrds_05232019/medotpubrds.shx
maine-roads/medotpubrds_05232019/medotpubrds.shp.xml
maine-roads/medotpubrds_05232019/medotpubrds.shp
maine-roads/medotpubrds_05232019/medotpubrds.sbx
maine-roads/medotpubrds_05232019/medotpubrds.sbn
maine-roads/medotpubrds_05232019/medotpubrds.prj
maine-roads/medotpubrds_05232019/medotpubrds.dbf
maine-roads/medotpubrds_05232019/medotpubrds.cpg
fec-data-2020/config.py
fec-data-2020/2020 Federal Campaign Finance-47429ada9996.json
fec-data-2020/me-congress-2020-creds.json
fec-data-2020/mitch-mccollins/config.py
fec-data-2020/mitch-mccollins/__pycache__/config.cpython-36.pyc
fec-data-2020/mitch-mccollins/me-congress-2020-creds.json
opioid-files/arcos-me-statewide-itemized.tsv
opioid-files/arcos-me-statewide-cleaned-towns.csv
opioid-files/processed files/arcos-me-statewide-cleaned-towns.csv
opioid-files/raw data/arcos-me-statewide-itemized.tsv
opioid-files/processed_files/arcos-me-statewide-cleaned-towns.csv
opioid-files/raw_data/arcos-me-statewide-itemized.tsv
election-results/me-voter-registration-trends.csv
election-results/me-general-election-results.csv
election-results/Maine voter registration trends.twbx
election-results/Maine historical voter registration.twbx
election-results/me-general-election-results.csv
election-results/Maine historical voter registration.twbx
election-results/Load election data.ipynb
election-results/voter-registration-loader.ipynb
bls-journalism-stats/config.py
maine-roads/medotpubrds/medotpubrds.cpg
maine-roads/medotpubrds/medotpubrds.dbf
maine-roads/medotpubrds/medotpubrds.prj
maine-roads/medotpubrds/medotpubrds.sbn
maine-roads/medotpubrds/medotpubrds.sbx
maine-roads/medotpubrds/medotpubrds.shp
maine-roads/medotpubrds/medotpubrds.shp.xml
maine-roads/medotpubrds/medotpubrds.shx
